@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --svery-dark-blue: hsl(240, 100%, 5%);
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}

body {
  margin: 0;
  padding: 1rem;
}

.logo {
  width: 3rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.gray-nav {
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

nav {
  background-color: white;
  position: fixed;
  width: 66.6%;
  z-index: 100;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.75rem;
}

.hidden {
  display: none;
}
nav > a {
  font-size: 1rem;
}
.close-ico {
  align-self: end;
  width: 2rem;
  height: 2rem;
  margin-bottom: 4rem;
}

.hero-img {
  margin-top: 2rem;
  max-width: 100%;
  height: 100%;
  aspect-ratio: 1.25 / 1.1;
  background-image: url("assets/images/image-web-3-mobile.jpg");
  background-size: cover;
}

h1 {
  margin: 2rem 0;
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 1;
  color: var(--svery-dark-blue);
}

p {
  color: var(--dark-grayish-blue);
  line-height: 1.5;
  font-weight: 400;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  background-color: var(--soft-red);
  color: var(--off-white);
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  outline: none;
  border: none;
}

button:hover,
button:active {
  background-color: var(--svery-dark-blue);
}

section:last-child {
  background-color: red;
}

.section__new {
  margin-top: 6rem;
  background-color: var(--svery-dark-blue);
  padding: 2rem 1.5rem;
}

.section__new > h2 {
  color: var(--soft-orange);
  font-size: 2rem;
}

.section__new > h3 {
  color: var(--off-white);
  margin-top: 2rem;
  font-size: 1.35rem;
}
.section__new > h3:active,
.section__new > h3:hover {
  color: var(--soft-orange);
}

.section__new > p {
  margin-top: 1rem;
  line-height: 1.75;
  font-weight: 400;
  color: var(--grayish-blue);
}

.section__new > hr {
  margin-top: 2rem;
  height: 1px;
  border-width: 0;
  background-color: var(--grayish-blue);
}

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

article:first-of-type {
  margin-top: 4rem;
}

article > img {
  grid-column: 1/2;
  width: 100%;
}
.article__div {
  grid-column: 2/4;
}

.article-num {
  display: block;
  font-size: 2rem;
  color: var(--grayish-blue);
  margin-bottom: 0.5rem;
}

.article__div > h3 {
  font-size: 1.25rem;
  font-weight: 800;
}
.article__div > h3:hover,
.article__div > h3:active {
  color: var(--soft-red);
}
.article__div > p {
  margin-top: 0.75rem;
  font-weight: 400;
}

@media screen and (min-width: 600px) {
  .hero-img {
    background-image: url("./assets/images/image-web-3-desktop.jpg");
    aspect-ratio: 3 / 1.25;
  }
  .menu-ico {
    display: none;
  }

  .close-ico {
    display: none;
  }
  nav.hidden {
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav {
    flex-direction: row;
    justify-content: end;
    gap: 3rem;
    position: static;
    padding: 0;
  }

  nav > a {
    color: var(--svery-dark-blue);
    font-size: 1rem;
  }
  nav > a:hover {
    color: var(--soft-red);
    font-size: 1rem;
  }

  .gray-nav {
    display: none !important;
  }
}
@media (min-width: 1050px) {
  body {
    max-height: 100vh;
    max-height: 100svh;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
  }
  header {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 2rem;
  }

  .hero-img {
    grid-column: 1 / 3;
    margin: 0;
  }
  .section__splash {
    grid-area: 2 / 1 / span 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    height: 100%;
  }

  .section__splash > h1 {
    font-size: 3.75rem;
    margin: 0;
  }

  .section__new {
    grid-area: 1 / 3 / span 2 / span 1;
    margin: 0;
    padding: 2rem;
  }

  article:first-of-type {
    margin-top: 2rem;
  }
}
