@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --svery-dark-blue: hsl(240, 100%, 5%);
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 1rem 1rem 6rem 1rem;
}
.logo {
  width: 3rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.hero-img {
  margin-top: 2rem;
  max-width: 100%;
  height: 100%;
  aspect-ratio: 1.25 / 1.1;
  background-image: url("assets/images/image-web-3-mobile.jpg");
  background-size: cover;
}

h1 {
  margin: 2rem 0;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: -1px;
  line-height: 1;
  color: var(--svery-dark-blue);
}

p {
  color: var(--dark-grayish-blue);
  line-height: 1.5;
  font-weight: 400;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  background-color: var(--soft-red);
  color: var(--off-white);
  padding: 1rem 2.5rem;
  margin-top: 2rem;
  outline: none;
  border: none;
}

section:last-child {
  background-color: red;
}

.section__new {
  margin-top: 6rem;
  background-color: var(--svery-dark-blue);
  padding: 2rem 1.5rem;
}

.section__new > h2 {
  color: var(--soft-orange);
  font-size: 2rem;
}

.section__new > h3 {
  color: var(--off-white);
  margin-top: 2rem;
  font-size: 1.35rem;
}

.section__new > p {
  margin-top: 1rem;
  line-height: 1.75;
  font-weight: 400;
}

.section__new > hr {
  margin-top: 2rem;
  height: 1px;
  border-width: 0;
  background-color: var(--grayish-blue);
}

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

article:first-of-type {
  margin-top: 4rem;
}

article > img {
  grid-column: 1/2;
  width: 100%;
}
.article__div {
  grid-column: 2/4;
}

.article-num {
  display: block;
  font-size: 2rem;
  color: var(--grayish-blue);
  margin-bottom: 0.5rem;
}

.article__div > h3 {
  font-size: 1.25rem;
  font-weight: 800;
}
.article__div > p {
  margin-top: 0.75rem;
  font-weight: 400;
  color: var(--dark-grayish-blue);
}
